node_modules/
.expo/
dist/
android/*
ios/
.env
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision
*.pem
play-console-key.json
**/play-console-key.json
google-services.json
**/google-services.json
GoogleService-Info.plist
**/GoogleService-Info.plist
native-resources/google-services.json
native-resources/voxo.keystore